{% extends 'layout/layout.jinja2' %}
{% block title %}PPPoE{% endblock %}

{% block html_head %}
<style>
.accounts .hide {
  display: none;
}

.accounts .card-title {
  line-height: 1.2rem;
}

.accounts .username {
  font-size: 0.7rem;
  float: left;
  clear: left;
}

.accounts .card-body h6 {
  text-align: center;
  padding-bottom: 0.5rem;
  border-bottom: 1px dashed #000;
}

.accounts .card-body p {
  text-align: center;
  font-size: 0.9rem;
  margin: 0;
}

.accounts .card-body i.bad {
  position: absolute;
  top: 4px;
  right: -7px;
  color: #ff0000;
}

.accounts .card-body .row > div:first-child i.field-type {
  position: absolute;
  top: 4px;
  left: -7px;
}

.row.csv {
  padding-bottom: 3em;
}

.row.csv textarea {
  width: 100%;
  height: 100px;
}

.row.csv .row > .button {
  text-align: center;
  vertical-align: middle;
}

@media print {
  .accounts .card-tools {
    display: none;
  }

  .accounts .card-body {
    padding: 4px 10px 0 10px;
  }

  .accounts .card-body h6 {
    padding-bottom: 0.3rem;
  }

  .accounts .username {
    float: right;
    clear: none;
    font-size: 1rem;
  }
}
</style>
{% endblock %}

{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>PPPoE Reports</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">
                            <a href="/">Home</a>
                        </li>
                        <li class="breadcrumb-item active">PPPoE Reports</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- /.content -->
        <div class="container-fluid">
            <div class="row">

                <div class="col-3">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">PPPoE Account Totals</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th style="width: 10px">#</th>
                                    <th>Router Name</th>
                                    <th style="width: 40px">Total</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(total, key, index) in totals">
                                    <td>INDEX HERE</td>
                                    <td>ROUTER NAME HERE</td>
                                    <td><span class="badge bg-primary">ROUTER TOTAL</span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->

            </div>
            <!-- /.row -->

            <div class="row">
                <div class="col-12">
                    <div class="card card-row card-secondary">

                        <div class="card-header">
                            <h3 class="card-title">
                                Account Discrepancies
                            </h3>
                            <div class="card-tools">
                                <span class="badge bg-primary mr-1">{{ lastUpdated }}</span>
                                <span class="badge bg-warning">{{ totalMistakes }}</span>
                            </div>
                        </div>
                        <!-- /.card-header -->

                        <div class="card-body">
                            <div class="row row-cols-sm-1 row-cols-md-2 row-cols-xl-3 accounts">
                                <div class="col" v-for="(account, index) in conflictedAccounts">
                                    <div class="card card-primary card-outline">
                                        <div class="card-header">
                                            <h5 class="card-title">COMMENT HERE</h5>
                                            <div class="card-tools">
                                                <span class="badge bg-secondary mr-1">#INDEX HERE</span>
                                                <span class="badge bg-warning mr-1">TOTAL ERRORS HERE</span>
                                                <button type="button" class="btn btn-tool"
                                                        data-card-widget="collapse">
                                                    <i class="fas fa-minus"></i>
                                                </button>
                                            </div>
                                            <span class="username">USERNAME HERE</span>
                                        </div>
                                        <!-- /.card-header -->

                                        <div class="card-body">

                                            <div class="row">

                                                <div class="col-4" v-for="label in routers">
                                                    <h6>ROUTER NAME HERE</h6>
                                                </div>

                                            </div>

                                            <template v-for="(className, propertyName) in accountProperties">
                                                <div class="row"
                                                     v-if="account._election[propertyName] && account._election[propertyName].challenged">
                                                    <div class="col-4" v-for="(label, key, index) in routers">
                                                        <p><i :class="'fas field-type ' + (className || 'fa-cog')"
                                                              v-if="index == 0"></i>
                                                            PROFILE NAME HERE
                                                            <i class="fas fa-times-circle bad"
                                                               v-if="account[propertyName][key] != account._election[propertyName].value"></i>
                                                    </div>
                                                </div>
                                            </template>

                                        </div>
                                        <!-- /.card-body -->

                                    </div>
                                    <!-- /.card -->
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.card-body -->

                        <!--
                        <keep-alive>
                            <div class="overlay dark" v-if="sourcesLoading">
                                <i class="fas fa-2x fa-sync-alt"></i>
                            </div>
                        </keep-alive>
                        -->
                        <!-- /.overlay -->

                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->

            <div class="row csv">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12">
                            <h4>Secrets CSV</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-10">
                            <textarea id="secretsCSV" onfocus="this.select()"></textarea>
                        </div>
                        <div class="col-2 button">
                            <button @click="handleCSVSave">Save CSV File</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->

        </div><!-- /.container-fluid -->
    </section>
</div>
<!-- /.content-wrapper -->
{% endblock %}