{% extends 'layouts/user/layout.jinja2' %}
{% block title %}Accounts / {{ record.subscriber.label }} / Delete Location{% endblock %}

{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1><i class="fas fa-location-dot"></i> Delete Location</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item">
                                <a href="/">Home</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="/subscribers">Accounts</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="/accounts/{{ record.subscriber_id }}/edit#locations">{{ record.subscriber.label }}</a>
                            </li>
                            <li class="breadcrumb-item active">Delete Location</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <!-- /.content -->
            <div class="container-fluid">

                <div class="row">
                    <div class="col-12">
                        <div class="card card-row card-danger">

                            <div class="card-header">
                                <h3 class="card-title">
                                    Delete Location
                                </h3>
                                <div class="card-tools">
                                    <button type="button" title="Cancel" class="btn btn-tool btn-cancel"><i
                                            class="fas fa-xmark"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- /.card-header -->

                            <form action="" method="post">
                                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}"/>

                                <div class="card-body">
                                    <h2>Are you sure?</h2>
                                    <p>Are you absolutely sure you want to <strong>delete this location?</strong>
                                    </p>
                                    <div class="card card-secondary">
                                        <div class="card-header">
                                            <h3 class="card-title">{{ record.label }}</h3>
                                        </div>
                                        <!-- /.card-header -->

                                        <div class="card-body">
                                            <dl class="row">
                                                <div class="col col-6">
                                                    <dt class="col-sm-4">Label</dt>
                                                    <dd class="col-sm-8">{{ record.label }}</dd>
                                                </div>
                                                <div class="col col-6">
                                                    <dt class="col-sm-4">Type</dt>
                                                    <dd class="col-sm-8">{{ record.type }}</dd>
                                                </div>
                                            </dl>
                                            <dl class="row">
                                                <div class="col col-6">
                                                    <dt class="col-sm-4">Street Address Line 1</dt>
                                                    <dd class="col-sm-8">{{ record.address_line1 }}</dd>
                                                </div>
                                                <div class="col col-6">
                                                    <dt class="col-sm-4">Street Address Line 2</dt>
                                                    <dd class="col-sm-8">{% if record.address_line2 %}{{ record.address_line2 }}{% else %}None{% endif %}</dd>
                                                </div>
                                            </dl>
                                            <dl class="row">
                                                <div class="col col-3">
                                                    <dt class="col-sm-4">City</dt>
                                                    <dd class="col-sm-8">{{ record.address_city }}</dd>
                                                </div>
                                                <div class="col col-3">
                                                    <dt class="col-sm-4">State</dt>
                                                    <dd class="col-sm-8">{{ record.address_state }}</dd>
                                                </div>
                                                <div class="col col-3">
                                                    <dt class="col-sm-4">Postal Code</dt>
                                                    <dd class="col-sm-8">{{ record.address_postal_code }}</dd>
                                                </div>
                                                <div class="col col-3">
                                                    <dt class="col-sm-4">Country</dt>
                                                    <dd class="col-sm-8">{{ record.address_country }}</dd>
                                                </div>
                                            </dl>

                                        </div>
                                        <!-- /.card-body -->

                                    </div>
                                </div>
                                <!-- /.card-body -->

                                <div class="card-footer">
                                    <button type="submit" title="Delete Location" class="btn btn-danger">Delete Location
                                    </button>
                                    <button type="button" title="Cancel" class="btn btn-primary btn-cancel float-right">
                                        Cancel
                                    </button>
                                </div>
                                <!-- /.card-footer -->

                            </form>

                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->

            </div><!-- /.container-fluid -->
        </section>
    </div>
    <!-- /.content-wrapper -->
{% endblock %}

{% block footer_scripts %}
    <script type="text/javascript">
        let baseURI = '/subscribers/{{ record.subscriber_id }}/edit#locations'
        let btnCancel = null

        let onBtnCancelClick = function (e) {
            window.location = baseURI
        }

        let setupListeners = function () {
            btnCancel.bind('click', onBtnCancelClick)
        }

        $(function () {
            btnCancel = $('.btn-cancel')
            setupListeners()
        })
    </script>
{% endblock %}