{% extends 'layout/layout.jinja2' %}
{% block title %}Subscribers / {{ record.subscriber.label }} / {{ id | action_label }} Equipment{% endblock %}

{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1><i class="fas fa-walkie-talkie"></i> {{ id | action_label }} Equipment</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item">
                                <a href="/">Home</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="/subscribers">Subscribers</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="/subscribers/{{ record.subscriber_id }}/edit#equipment">{{ record.subscriber.label }}</a>
                            </li>
                            <li class="breadcrumb-item active">{{ id | action_label }} Equipment</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <!-- /.content -->
            <div class="container-fluid">

                <div class="row">
                    <div class="col-12">
                        <div class="card card-row card-secondary">

                            <div class="card-header">
                                <h3 class="card-title">
                                    Equipment Details
                                </h3>
                                <div class="card-tools">
                                    <button type="button" title="Cancel" class="btn btn-tool btn-cancel"><i
                                            class="fas fa-xmark"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- /.card-header -->

                            <form id="frmEdit" action="" method="post">
                                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}"/>
                                <div class="card-body">

                                    <div class="form-group">
                                        <label for="selLocation">Location</label>
                                        <select class="form-control" id="selLocation" name="location_id">
                                            <option value="">Select a location...</option>
                                            {% for location in locations %}
                                                <option value="{{ location.id }}"{% if record.location_id == location.id %}
                                                        selected{% endif %}>{{ location.label }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <!-- /.form-group -->

                                    <div class="form-group">
                                        <label for="txtLabel">Label</label>
                                        <input type="text" class="form-control" id="txtLabel" name="label"
                                               placeholder="Equipment Label"
                                               value="{% if record.label %}{{ record.label }}{% endif %}">
                                    </div>
                                    <!-- /.form-group -->

                                    <div class="form-group">
                                        <label for="selType">Equipment Type</label>
                                        <select class="form-control" id="selType" name="type">
                                            <option value="">Select a type...</option>
                                            {% for item in record.TYPES %}
                                                <option value="{{ item }}"{% if record.type == item %}
                                                        selected{% endif %}>{{ record.TYPES[item] }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <!-- /.form-group -->

                                    <div class="form-group">
                                        <label for="txtMacAddress">MAC Address</label>
                                        <input type="text" class="form-control" id="txtMacAddress" name="mac_address"
                                               placeholder="00:00:00:00:00:00"
                                               value="{% if record.mac_address %}{{ record.mac_address }}{% endif %}">
                                    </div>
                                    <!-- /.form-group -->

                                    <div class="form-group">
                                        <label for="txtSerialNumber">Serial Number</label>
                                        <input type="text" class="form-control" id="txtSerialNumber"
                                               name="serial_number"
                                               placeholder="GF87832H4K"
                                               value="{% if record.serial_number %}{{ record.serial_number }}{% endif %}">
                                    </div>
                                    <!-- /.form-group -->

                                </div>
                                <!-- /.card-body -->

                                <div class="card-footer">
                                    <button type="submit"
                                            title="{{ id | action_label }} Equipment"
                                            class="btn btn-primary">{{ id | action_label }}</button>
                                    <button type="button" title="Cancel"
                                            class="btn btn-danger float-right btn-cancel">Cancel</button>
                                </div>
                                <!-- /.card-footer -->

                            </form>
                            <!-- /form -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->

            </div><!-- /.container-fluid -->
        </section>
    </div>
    <!-- /.content-wrapper -->
{% endblock %}

{% block footer_scripts %}
    <script type="text/javascript">
        let baseURI = '/subscribers/{{ record.subscriber_id }}'
        let btnCancel = null
        let frmEdit = null

        let onBtnCancelClick = function (e) {
            window.location = baseURI + '/edit#equipment'
        }

        let setupListeners = function () {
            btnCancel.bind('click', onBtnCancelClick)
        }

        let setupValidation = function () {
            frmEdit.validate({
                rules: {
                    location_id: {
                        required: true,
                    },
                    label: {
                        required: true,
                        minlength: 1,
                        maxlength: 100,
                        label: true,
                    },
                    type: {
                        required: true,
                    },
                    mac_address: {
                        required: true,
                        minlength: 12,
                        maxlength: 17,
                        macaddress: true,
                        normalizer: alphaNumericOnlyNormalizer,
                    },
                    serial_number: {
                        required: false,
                        maxlength: 30,
                    },
                },
                errorPlacement: validateErrorPlacement,
            })
        }

        $(function () {
            btnCancel = $('.btn-cancel')
            frmEdit = $('#frmEdit')
            setupListeners()
            setupValidation()
        })
    </script>
{% endblock %}