{% extends 'layout/layout.jinja2' %}
{% block title %}Settings / Service Packages{% endblock %}

{% block html_head %}
    <style type="text/css">
        table.records th:nth-child(0n+2), table.records td:nth-child(0n+2) {
            text-align: left;
        }

        table.records th:nth-child(0n+3) {
            width: 125px;
        }

        table.records th:nth-child(0n+4), table.records th:nth-child(0n+5) {
            width: 200px;
        }
    </style>
{% endblock %}

{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1><i class="fas fa-gauge-high"></i> Manage Service Packages</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item">
                                <a href="/">Home</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="/apps/settings">Settings</a>
                            </li>
                            <li class="breadcrumb-item active">Service Packages</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <!-- /.content -->
            <div class="container-fluid">

                <div class="row">
                    <div class="col-12">
                        <div class="card card-row card-secondary">

                            <div class="card-header">
                                <h3 class="card-title">
                                    Current Packages
                                </h3>
                                <div class="card-tools">
                                    <button type="button" title="Create Package" class="btn btn-tool btn-add"><i
                                            class="fas fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- /.card-header -->

                            <div class="card-body">
                                <table id="records" class="table table-hover table-bordered table-striped text-nowrap records">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Label</th>
                                        <th>Type</th>
                                        <th>Technologies</th>
                                        <th>Limits (D/U)</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for record in records %}
                                        <tr>
                                            <td>{{ record.id }}</td>
                                            <td>{{ record.label }}</td>
                                            <td>{{ record.type }}</td>
                                            <td>{{ record.technologies | replace(',', ', ') }}</td>
                                            <td>{% if record.downstream is float and record.downstream is gt 0 %}
                                                {{ record.downstream / 1000000 }} Mbps{% else %}~{% endif %}
                                                / {% if record.upstream is float and record.upstream is gt 0 %}
                                                    {{ record.upstream / 1000000 }} Mbps{% else %}~{% endif %}
                                            </td>
                                            <td>
                                                <button type="button" title="Edit Package" data-id="{{ record.id }}"
                                                        class="btn btn-default btn-outline-secondary btn-sm btn-edit"><i
                                                        class="fa fa-edit"></i></button>
                                                <button type="button" title="Delete Package" data-id="{{ record.id }}"
                                                        class="btn btn-default btn-outline-secondary btn-sm btn-delete">
                                                    <i
                                                            class="fa fa-trash"></i></button>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->

                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->

            </div><!-- /.container-fluid -->
        </section>
    </div>
    <!-- /.content-wrapper -->
{% endblock %}

{% block footer_scripts %}
    <script type="text/javascript">
        let baseURI = '/settings/service-packages'
        let btnAdd = null
        let btnEdit = null
        let btnDelete = null

        let onBtnAddClick = function (e) {
            window.location = baseURI + '/add'
        }

        let onBtnEditClick = function (e) {
            let recordId = getRootElement(e.target, 'button').data('id')
            window.location = baseURI + '/' + recordId + '/edit'
        }

        let onBtnDeleteClick = function (e) {
            let recordId = getRootElement(e.target, 'button').data('id')
            window.location = baseURI + '/' + recordId + '/delete'
        }

        let setupListeners = function () {
            btnAdd.bind('click', onBtnAddClick)
            btnEdit.bind('click', onBtnEditClick)
            btnDelete.bind('click', onBtnDeleteClick)
        }

        let setupDataTables = function () {
            $("#records").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#records_wrapper .col-md-6:eq(0)');
        }

        $(function () {
            btnAdd = $('.btn-add')
            btnEdit = $('.btn-edit')
            btnDelete = $('.btn-delete')
            setupListeners()
            setupDataTables()
        })
    </script>
{% endblock %}