{% extends 'layout/layout.jinja2' %}
{% block title %}Settings / Equipment Configurations / Delete Configuration{% endblock %}

{% block html_head %}
    <style type="text/css">

    </style>
{% endblock %}

{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1><i class="fas fa-walkie-talkie"></i> Delete Configuration</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item">
                                <a href="/">Home</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="/settings">Settings</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="/settings/equipment-configurations">Equipment Configurations</a>
                            </li>
                            <li class="breadcrumb-item active">Delete Configuration</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <!-- /.content -->
            <div class="container-fluid">

                <div class="row">
                    <div class="col-12">
                        <div class="card card-row card-danger">

                            <div class="card-header">
                                <h3 class="card-title">
                                    Delete Equipment Configuration
                                </h3>
                                <div class="card-tools">
                                    <button type="button" title="Cancel" class="btn btn-tool btn-cancel"><i
                                            class="fas fa-xmark"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- /.card-header -->

                            <form action="" method="post">
                                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}"/>

                                <div class="card-body">
                                    <h2>Are you sure?</h2>
                                    <p>Are you absolutely sure you want to <strong>delete this equipment configuration?</strong>
                                    </p>
                                    <div class="card card-secondary">
                                        <div class="card-header">
                                            <h3 class="card-title">
                                                <i class="fas fa-text-width"></i>
                                                {{ configuration.label }}
                                            </h3>
                                        </div>

                                        <div class="card-body">
                                            <dl class="row">
                                                <dt class="col-sm-4">Label</dt>
                                                <dd class="col-sm-8">{{ configuration.label }}</dd>
                                                <dt class="col-sm-4">Frequency Band</dt>
                                                <dd class="col-sm-8">{{ configuration.frequency_band }}</dd>
                                                <dt class="col-sm-4">Internal Gain</dt>
                                                <dd class="col-sm-8">{% if configuration.internal_gain is number %}{{ configuration.internal_gain }}{% else %}0{% endif %}</dd>
                                                <dt class="col-sm-4">External Gain</dt>
                                                <dd class="col-sm-8">{% if configuration.external_gain is number %}{{ configuration.external_gain }}{% else %}0{% endif %}</dd>
                                                <dt class="col-sm-4">Beamwidth</dt>
                                                <dd class="col-sm-8">{% if configuration.beamwidth is number %}{{ configuration.beamwidth }}{% else %}0{% endif %}</dd>
                                                <dt class="col-sm-4">Downtilt</dt>
                                                <dd class="col-sm-8">{% if configuration.downtilt is number %}{{ configuration.downtilt }}{% else %}0{% endif %}</dd>
                                            </dl>
                                        </div>

                                    </div>
                                </div>
                                <!-- /.card-body -->

                                <div class="card-footer">
                                    <button type="submit" title="Delete Configuration" class="btn btn-danger">Delete Configuration</button>
                                    <button type="button" title="Cancel" class="btn btn-primary btn-cancel float-right">Cancel</button>
                                </div>
                                <!-- /.card-footer -->

                            </form>

                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->

            </div><!-- /.container-fluid -->
        </section>
    </div>
    <!-- /.content-wrapper -->
{% endblock %}

{% block footer_scripts %}
    <script type="text/javascript">
        btnCancel = null

        let onBtnCancelClick = function (e) {
            window.location = '/settings/equipment-configurations'
        }

        let setupListeners = function () {
            btnCancel.bind('click', onBtnCancelClick)
        }

        $(function () {
            btnCancel = $('.btn-cancel')
            setupListeners()
        })
    </script>
{% endblock %}