{% extends 'layout/layout.jinja2' %}
{% block title %}Settings / Equipment Configurations / {% if id %}Edit{% else %}Add{% endif %}
    Configuration{% endblock %}

{% block html_head %}
    <style type="text/css">

    </style>
{% endblock %}

{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1><i class="fas fa-walkie-talkie"></i> {% if id %}Edit{% else %}Add{% endif %} Configuration</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item">
                                <a href="/">Home</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="/settings">Settings</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="/settings/equipment-configurations">Equipment Configurations</a>
                            </li>
                            <li class="breadcrumb-item active">{% if id %}Edit{% else %}Add{% endif %} Configuration
                            </li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <!-- /.content -->
            <div class="container-fluid">

                <div class="row">
                    <div class="col-12">
                        <div class="card card-row card-secondary">

                            <div class="card-header">
                                <h3 class="card-title">
                                    Configuration Details
                                </h3>
                                <div class="card-tools">
                                    <button type="button" title="Cancel" class="btn btn-tool btn-cancel"><i
                                            class="fas fa-xmark"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- /.card-header -->

                            <form id="frmEdit" action="" method="post">
                                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}"/>
                                <div class="card-body">

                                    <div class="form-group">
                                        <label for="txtLabel">Configuration Label</label>
                                        <input type="text" class="form-control" id="txtLabel" name="label"
                                               value="{{ configuration.label }}"
                                               placeholder="Cambium Networks PMP450b High-Gain">
                                    </div>
                                    <!-- /.form-group -->

                                    <div class="form-group">
                                        <label id="selFrequencyBand">Frequency Band</label>
                                        <select id="selFrequencyBand" name="frequency_band" class="form-control">
                                            <option value="">Select a band...</option>
                                            {% for band in frequency_bands %}
                                            <option value="{{ band }}"{% if band == configuration.frequency_band %} selected{% endif %}>{{ band }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <!-- /.form-group -->

                                    <div class="form-group">
                                        <label for="txtInternalGain">Internal Gain</label>
                                        <div class="input-group mb-3">
                                            <input type="text" id="txtInternalGain" name="internal_gain"
                                                   class="form-control" placeholder="Integrated antenna gain"
                                                   value="{% if configuration.internal_gain is number %}{{ configuration.internal_gain }}{% endif %}">
                                            <div class="input-group-append">
                                                <span class="input-group-text"> dBi</span>
                                            </div>
                                        </div>
                                        <!-- /.input-group -->
                                    </div>
                                    <!-- /.form-group -->

                                    <div class="form-group">
                                        <label for="txtExternalGain">External Gain</label>
                                        <div class="input-group mb-3">
                                            <input type="text" id="txtExternalGain" name="external_gain"
                                                   class="form-control" placeholder="Non-integrated antenna gain"
                                                   value="{% if configuration.external_gain is number %}{{ configuration.external_gain }}{% endif %}">
                                            <div class="input-group-append">
                                                <span class="input-group-text"> dBi</span>
                                            </div>
                                        </div>
                                        <!-- /.input-group -->
                                    </div>
                                    <!-- /.form-group -->

                                    <div class="form-group">
                                        <label for="txtBeamwidth">Beamwidth</label>
                                        <div class="input-group mb-3">
                                            <input type="text" id="txtBeamwidth" name="beamwidth"
                                                   class="form-control" placeholder="Horizontal beamwidth of the antenna in degrees"
                                                   value="{% if configuration.beamwidth is number %}{{ configuration.beamwidth }}{% endif %}">
                                            <div class="input-group-append">
                                                <span class="input-group-text"> &deg;</span>
                                            </div>
                                        </div>
                                        <!-- /.input-group -->
                                    </div>
                                    <!-- /.form-group -->

                                    <div class="form-group">
                                        <label for="txtDowntilt">Electrical Downtilt (EDT)</label>
                                        <div class="input-group mb-3">
                                            <input type="text" id="txtDowntilt" name="downtilt"
                                                   class="form-control" placeholder="Electrical downtilt in degrees"
                                                   value="{% if configuration.downtilt is number %}{{ configuration.downtilt }}{% endif %}">
                                            <div class="input-group-append">
                                                <span class="input-group-text"> &deg;</span>
                                            </div>
                                        </div>
                                        <!-- /.input-group -->
                                    </div>
                                    <!-- /.form-group -->

                                </div>
                                <!-- /.card-body -->

                                <div class="card-footer">
                                    <button type="submit" title="{% if id %}Update{% else %}
                                        Create{% endif %} Configuration" class="btn btn-primary">{% if id %}
                                        Update{% else %}
                                        Create{% endif %}</button>
                                    <button type="button" title="Cancel" class="btn btn-danger float-right btn-cancel">
                                        Cancel
                                    </button>
                                </div>
                                <!-- /.card-footer -->

                            </form>
                            <!-- /form -->

                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->

            </div><!-- /.container-fluid -->
        </section>
    </div>
    <!-- /.content-wrapper -->
{% endblock %}

{% block footer_scripts %}
    <script type="text/javascript">
        btnCancel = null
        frmEdit = null

        let onBtnCancelClick = function (e) {
            window.location = '/settings/equipment-configurations'
        }

        let setupListeners = function () {
            btnCancel.bind('click', onBtnCancelClick)
        }

        let setupValidation = function () {
            frmEdit.validate({
                rules: {
                    label: {
                        required: true,
                        minlength: 5,
                        maxlength: 100,
                        label: true,
                    },
                    frequency_band: {
                        required: true,
                    },
                    internal_gain: {
                        required: true,
                        number: true,
                        range: [0, 50],
                    },
                    external_gain: {
                        required: true,
                        number: true,
                        range: [0, 50],
                    },
                    beamwidth: {
                        required: true,
                        number: true,
                        range: [1, 360],
                    },
                    downtilt: {
                        required: true,
                        number: true,
                        range: [-90, 90],
                    },
                },
                errorPlacement: function (error, element) {
                    error.appendTo(element.parents('.form-group'))
                },
            })
        }

        $(function () {
            btnCancel = $('.btn-cancel')
            frmEdit = $('#frmEdit')
            setupListeners()
            setupValidation()
        })
    </script>
{% endblock %}