{% extends 'layout/layout.jinja2' %}
{% block title %}Accounts / Delete Account{% endblock %}

{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1><i class="fas fa-key"></i> Delete Account</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item">
                                <a href="/">Home</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="/accounts">Accounts</a>
                            </li>
                            <li class="breadcrumb-item active">Delete Account</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <!-- /.content -->
            <div class="container-fluid">

                <div class="row">
                    <div class="col-12">
                        <div class="card card-row card-danger">

                            <div class="card-header">
                                <h3 class="card-title">
                                    Delete Account
                                </h3>
                                <div class="card-tools">
                                    <button type="button" title="Cancel" class="btn btn-tool btn-cancel"><i
                                            class="fas fa-xmark"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- /.card-header -->

                            <form action="" method="post">
                                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}"/>

                                <div class="card-body">
                                    <h2>Are you sure?</h2>
                                    <p>Are you absolutely sure you want to <strong>delete this account?</strong>
                                    </p>
                                    <div class="card card-secondary">
                                        <div class="card-header">
                                            <h3 class="card-title">
                                                <i class="fas fa-text-width"></i>
                                                {% if account.org_name %}
                                                    {{ account.org_name }}
                                                {% else %}
                                                    {{ account.primary_contact_name }}
                                                {% endif %}
                                            </h3>
                                        </div>

                                        <div class="card-body">
                                            <dl class="row">
                                                <div class="col col-12">
                                                    <dt class="col-sm-4">Organizataion Name</dt>
                                                    <dd class="col-sm-8">
                                                        {% if account.org_name %}
                                                            {{ account.org_name }}
                                                        {% else %}
                                                            None
                                                        {% endif %}
                                                    </dd>
                                                </div>
                                            </dl>
                                            <dl class="row">

                                                <div class="col col-6">
                                                    <dt class="col-sm-4">Primary Contact Name</dt>
                                                    <dd class="col-sm-8">
                                                        {% if account.primary_contact_name %}
                                                            {{ account.primary_contact_name }}
                                                        {% else %}
                                                            None
                                                        {% endif %}
                                                    </dd>
                                                    <dt class="col-sm-4">Primary Contact Phone #1</dt>
                                                    <dd class="col-sm-8">
                                                        {% if account.primary_contact_phone1 %}
                                                            {{ account.primary_contact_phone1 }}
                                                        {% else %}
                                                            None
                                                        {% endif %}
                                                    </dd>
                                                    <dt class="col-sm-4">Primary Contact Phone #2</dt>
                                                    <dd class="col-sm-8">
                                                        {% if account.primary_contact_phone2 %}
                                                            {{ account.primary_contact_phone2 }}
                                                        {% else %}
                                                            None
                                                        {% endif %}
                                                    </dd>
                                                </div>

                                                <div class="col col-6">
                                                    <dt class="col-sm-4">Secondary Contact Name</dt>
                                                    <dd class="col-sm-8">
                                                        {% if account.secondary_contact_name %}
                                                            {{ account.secondary_contact_name }}
                                                        {% else %}
                                                            None
                                                        {% endif %}
                                                    </dd>
                                                    <dt class="col-sm-4">Secondary Contact Phone #1</dt>
                                                    <dd class="col-sm-8">
                                                        {% if account.secondary_contact_phone1 %}
                                                            {{ account.secondary_contact_phone1 }}
                                                        {% else %}
                                                            None
                                                        {% endif %}
                                                    </dd>
                                                    <dt class="col-sm-4">Secondary Contact Phone #2</dt>
                                                    <dd class="col-sm-8">
                                                        {% if account.secondary_contact_phone2 %}
                                                            {{ account.secondary_contact_phone2 }}
                                                        {% else %}
                                                            None
                                                        {% endif %}
                                                    </dd>
                                                </div>

                                            </dl>
                                            <dl class="row">
                                                <div class="col col-12">
                                                    <dt class="col-sm-4">Notes</dt>
                                                    <dd class="col-sm-8">{% if account.notes %}{{ account.notes }}{% else %}None{% endif %}</dd>
                                                </div>
                                            </dl>
                                        </div>

                                    </div>
                                </div>
                                <!-- /.card-body -->

                                <div class="card-footer">
                                    <button type="submit" title="Delete Account" class="btn btn-danger">Delete Account
                                    </button>
                                    <button type="button" title="Cancel" class="btn btn-primary btn-cancel float-right">
                                        Cancel
                                    </button>
                                </div>
                                <!-- /.card-footer -->

                            </form>

                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->

            </div><!-- /.container-fluid -->
        </section>
    </div>
    <!-- /.content-wrapper -->
{% endblock %}

{% block footer_scripts %}
    <script type="text/javascript">
        let btnCancel = null

        let onBtnCancelClick = function (e) {
            window.location = '/accounts'
        }

        let setupListeners = function () {
            btnCancel.bind('click', onBtnCancelClick)
        }

        $(function () {
            btnCancel = $('.btn-cancel')
            setupListeners()
        })
    </script>
{% endblock %}