{% extends 'layout/layout.jinja2' %}
{% block title %}Accounts / {{ id | action_label }} Account{% endblock %}

{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1><i class="fas fa-key"></i> {{ id | action_label }} Account</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item">
                                <a href="/">Home</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="/accounts">Accounts</a>
                            </li>
                            <li class="breadcrumb-item active">{{ id | action_label }} Account</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <!-- /.content -->
            <div class="container-fluid">

                <div class="row">
                    <div class="col-12">
                        <div class="card card-row card-secondary">

                            <div class="card-header">
                                <h3 class="card-title">
                                    Account Details
                                </h3>
                                <div class="card-tools">
                                    <button type="button" title="Cancel" class="btn btn-tool btn-cancel"><i
                                            class="fas fa-xmark"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- /.card-header -->

                            <form id="frmEdit" action="" method="post">
                                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}"/>
                                <div class="card-body">

                                    <div class="form-group">
                                        <label for="txtOrgName">Organization Name</label>
                                        <input type="text" class="form-control" id="txtOrgName" name="org_name"
                                               placeholder="Organization Legal Name"
                                               value="{% if record.org_name %}{{ record.org_name }}{% endif %}">
                                    </div>
                                    <!-- /.form-group -->

                                    <div class="row">

                                        <div class="col col-6">

                                            <div class="form-group">
                                                <label for="txtPrimaryContactName">Primary Contact Name</label>
                                                <input type="text" class="form-control" id="txtPrimaryContactName"
                                                       name="primary_contact_name"
                                                       placeholder="Primary Contact Full Name"
                                                       value="{% if record.primary_contact_name %}{{ record.primary_contact_name }}{% endif %}">
                                            </div>
                                            <!-- /.form-group -->

                                            <div class="form-group">
                                                <label for="txtPrimaryContactPhone1">Primary Contact Phone 1</label>
                                                <input type="text" class="form-control" id="txtPrimaryContactPhone1"
                                                       name="primary_contact_phone1"
                                                       placeholder="Primary Contact Phone #1"
                                                       value="{% if record.primary_contact_phone1 %}{{ record.primary_contact_phone1 }}{% endif %}">
                                            </div>
                                            <!-- /.form-group -->

                                            <div class="form-group">
                                                <label for="txtPrimaryContactPhone2">Primary Contact Phone 2</label>
                                                <input type="text" class="form-control" id="txtPrimaryContactPhone2"
                                                       name="primary_contact_phone2"
                                                       placeholder="Primary Contact Phone #2"
                                                       value="{% if record.primary_contact_phone2 %}{{ record.primary_contact_phone2 }}{% endif %}">
                                            </div>
                                            <!-- /.form-group -->

                                        </div>
                                        <!-- /.col -->

                                        <div class="col col-6">

                                            <div class="form-group">
                                                <label for="txtSecondaryContactName">Secondary Contact Name</label>
                                                <input type="text" class="form-control" id="txtSecondaryContactName"
                                                       name="secondary_contact_name"
                                                       placeholder="Secondary Contact Full Name"
                                                       value="{% if record.secondary_contact_name %}{{ record.secondary_contact_name }}{% endif %}">
                                            </div>
                                            <!-- /.form-group -->

                                            <div class="form-group">
                                                <label for="txtSecondaryContactPhone1">Secondary Contact Phone 1</label>
                                                <input type="text" class="form-control" id="txtSecondaryContactPhone1"
                                                       name="secondary_contact_phone1"
                                                       placeholder="Secondary Contact Phone #1"
                                                       value="{% if record.secondary_contact_phone1 %}{{ record.secondary_contact_phone1 }}{% endif %}">
                                            </div>
                                            <!-- /.form-group -->

                                            <div class="form-group">
                                                <label for="txtSecondaryContactPhone2">Secondary Contact Phone 2</label>
                                                <input type="text" class="form-control" id="txtSecondaryContactPhone2"
                                                       name="secondary_contact_phone2"
                                                       placeholder="Secondary Contact Phone #2"
                                                       value="{% if record.secondary_contact_phone2 %}{{ record.secondary_contact_phone2 }}{% endif %}">
                                            </div>
                                            <!-- /.form-group -->

                                        </div>
                                        <!-- /.col -->

                                    </div>
                                    <!-- /.row -->

                                    <div class="form-group">
                                        <label for="txtNotes">Notes</label>
                                        <textarea class="form-control" rows="3" id="txtNotes" name="notes"
                                                  placeholder="Account notes...">{% if record.notes %}{{ record.notes }}{% endif %}</textarea>
                                    </div>
                                    <!-- /.form-group -->

                                </div>
                                <!-- /.card-body -->

                                <div class="card-footer">
                                    <button type="submit"
                                            title="{{ id | action_label }} Account"
                                            class="btn btn-primary">{{ id | action_label }}</button>
                                    <button type="button" title="Cancel"
                                            class="btn btn-danger float-right btn-cancel">Cancel</button>
                                </div>
                                <!-- /.card-footer -->

                            </form>
                            <!-- /form -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-12">
                        <div class="card card-row card-secondary">

                            <div class="card-header">
                                <a name="locations" href="#"></a>
                                <h3 class="card-title">
                                    Account Locations
                                </h3>
                                <div class="card-tools">
                                    <button type="button" title="Create Location" class="btn btn-tool btn-add location"><i
                                            class="fas fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- /.card-header -->

                            <div class="card-body">

                                <table id="location-records" class="table table-hover table-bordered table-striped text-nowrap records locations">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Label</th>
                                        <th>Type</th>
                                        <th>Address</th>
                                        <th>City</th>
                                        <th>State</th>
                                        <th>Postal Code</th>
                                        <th>Country</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for record in locations %}
                                        <tr>
                                            <td>{{ record.id }}</td>
                                            <td>{{ record.label }}</td>
                                            <td>{{ record.type }}</td>
                                            <td>
                                                {{ record.address_line1 }}
                                                {% if record.address_line2 %}<br/>{{ record.address_line2 }}{% endif %}
                                            </td>
                                            <td>{{ record.address_city }}</td>
                                            <td>{{ record.address_state }}</td>
                                            <td>{{ record.address_postal_code }}</td>
                                            <td>{{ record.address_country }}</td>
                                            <td>
                                                <button type="button" title="Edit Location" data-id="{{ record.id }}"
                                                        class="btn btn-default btn-outline-secondary btn-sm btn-edit location"><i
                                                        class="fa fa-edit"></i></button>
                                                <button type="button" title="Delete Location" data-id="{{ record.id }}"
                                                        class="btn btn-default btn-outline-secondary btn-sm btn-delete location">
                                                    <i class="fa fa-trash"></i></button>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                <!-- /.table -->

                            </div>
                            <!-- /.card-body -->

                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-12">
                        <div class="card card-row card-secondary">

                            <div class="card-header">
                                <a name="equipment" href="#"></a>
                                <h3 class="card-title">
                                    Account Equipment
                                </h3>
                                <div class="card-tools">
                                    <button type="button" title="Create Equipment" class="btn btn-tool btn-add equipment"><i
                                            class="fas fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- /.card-header -->

                            <div class="card-body">

                                <table id="equipment-records" class="table table-hover table-bordered table-striped text-nowrap records equipment">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Label</th>
                                        <th>Type</th>
                                        <th>Location</th>
                                        <th>MAC Address</th>
                                        <th>Serial Number</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for record in equipment %}
                                        <tr>
                                            <td>{{ record.id }}</td>
                                            <td>{{ record.label }}</td>
                                            <td>{{ record.type }}</td>
                                            <td>{{ record.location.label }}</td>
                                            <td>{{ record.mac_address }}</td>
                                            <td>{{ record.serial_number }}</td>
                                            <td>
                                                <button type="button" title="Edit Equipment" data-id="{{ record.id }}"
                                                        class="btn btn-default btn-outline-secondary btn-sm btn-edit equipment"><i
                                                        class="fa fa-edit"></i></button>
                                                <button type="button" title="Delete Equipment" data-id="{{ record.id }}"
                                                        class="btn btn-default btn-outline-secondary btn-sm btn-delete equipment">
                                                    <i class="fa fa-trash"></i></button>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                <!-- /.table -->

                            </div>
                            <!-- /.card-body -->

                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-12">
                        <div class="card card-row card-secondary">

                            <div class="card-header">
                                <a name="subscriptions" href="#"></a>
                                <h3 class="card-title">
                                    Account Subscriptions
                                </h3>
                                <div class="card-tools">
                                    <button type="button" title="Create Subscription" class="btn btn-tool btn-add subscription"><i
                                            class="fas fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- /.card-header -->

                            <div class="card-body">

                                <table id="subscription-records" class="table table-hover table-bordered table-striped text-nowrap records subscriptions">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Package</th>
                                        <th>Status</th>
                                        <th>Equipment</th>
                                        <th>Location</th>
                                        <th>Static</th>
                                        <th>Username</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for record in subscriptions %}
                                        <tr>
                                            <td>{{ record.id }}</td>
                                            <td>{{ record.package.label }}</td>
                                            <td>{{ record.status }}</td>
                                            <td>{{ record.equipment.label }}</td>
                                            <td>{{ record.equipment.location.label }}</td>
                                            <td>{{ record.ipv4_static }}</td>
                                            <td>{{ record.username }}</td>
                                            <td>
                                                <button type="button" title="Edit Subscription" data-id="{{ record.id }}"
                                                        class="btn btn-default btn-outline-secondary btn-sm btn-edit subscription"><i
                                                        class="fa fa-edit"></i></button>
                                                <button type="button" title="Delete Subscription" data-id="{{ record.id }}"
                                                        class="btn btn-default btn-outline-secondary btn-sm btn-delete subscription">
                                                    <i class="fa fa-trash"></i></button>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                <!-- /.table -->

                            </div>
                            <!-- /.card-body -->

                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->

            </div><!-- /.container-fluid -->
        </section>
    </div>
    <!-- /.content-wrapper -->
{% endblock %}

{% block footer_scripts %}
    <script type="text/javascript">
        let baseURI = '/accounts'
        let accountURI = baseURI + '/{{ id }}'
        let btnCancel = null
        let btnAdd = null
        let btnEdit = null
        let btnDelete = null
        let frmEdit = null

        let getURIComponent = function (element) {
            let el = getRootElement(element, 'button')
            let path = ''

            if (el.is('.location'))
                path = 'locations'

            if (el.is('.equipment'))
                path = 'equipment'

            if (el.is('.subscription'))
                path = 'subscriptions'

            return '/' + path
        }

        let onBtnCancelClick = function (e) {
            window.location = baseURI
        }

        let onBtnAddClick = function (e) {
            window.location = accountURI + getURIComponent(e.target) + '/add'
        }

        let onBtnEditClick = function (e) {
            let target = getRootElement(e.target, 'button')
            let recordId = target.data('id')
            window.location = accountURI + getURIComponent(target) + '/' + recordId + '/edit'
        }

        let onBtnDeleteClick = function (e) {
            let target = getRootElement(e.target, 'button')
            let recordId = target.data('id')
            window.location = accountURI + getURIComponent(target) + '/' + recordId + '/delete'
        }

        let setupListeners = function () {
            btnCancel.bind('click', onBtnCancelClick)
            btnAdd.bind('click', onBtnAddClick)
            btnEdit.bind('click', onBtnEditClick)
            btnDelete.bind('click', onBtnDeleteClick)
        }

        let setupDataTables = function () {
            // Locations
            $("#location-records").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#location-records_wrapper .col-md-6:eq(0)');

            // Equipment
            $("#equipment-records").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#equipment-records_wrapper .col-md-6:eq(0)');

            // Subscriptions
            $("#subscription-records").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#subscription-records_wrapper .col-md-6:eq(0)');
        }

        let setupValidation = function () {
            frmEdit.validate({
                rules: {
                    org_name: {
                        required: false,
                        minlength: 3,
                        maxlength: 30,
                    },
                    primary_contact_name: {
                        required: true,
                        minlength: 2,
                        maxlength: 50,
                    },
                    primary_contact_phone1: {
                        required: true,
                        phoneUS: true,
                        maxlength: 17,
                        normalizer: numberOnlyNormalizer,
                    },
                    primary_contact_phone2: {
                        required: false,
                        phoneUS: true,
                        maxlength: 17,
                        normalizer: numberOnlyNormalizer,
                    },
                    secondary_contact_name: {
                        required: false,
                        minlength: 2,
                        maxlength: 50,
                    },
                    secondary_contact_phone1: {
                        required: false,
                        phoneUS: true,
                        maxlength: 17,
                        normalizer: numberOnlyNormalizer,
                    },
                    secondary_contact_phone2: {
                        required: false,
                        phoneUS: true,
                        maxlength: 17,
                        normalizer: numberOnlyNormalizer,
                    },
                    notes: {
                        required: false,
                        maxlength: 3000,
                    },
                },
                errorPlacement: validateErrorPlacement,
            })
        }

        $(function () {
            btnCancel = $('.btn-cancel')
            btnAdd = $('.btn-add')
            btnEdit = $('.btn-edit')
            btnDelete = $('.btn-delete')
            frmEdit = $('#frmEdit')
            setupListeners()
            setupDataTables()
            setupValidation()
        })
    </script>
{% endblock %}