{% extends 'layouts/user/layout.jinja2' %}
{% block title %}Dashboard{% endblock %}

{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1><i class="fas fa-house"></i> Dashboard</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item">
                                <a href="/">Home</a>
                            </li>
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <!-- /.content -->
            <div class="container-fluid">

                <div class="row">
                    <div class="col-12 col-sm-4 col-md-4">
                        <div class="info-box shadow">
                            <span class="info-box-icon bg-primary elevation-1">
                                <i class="fas fa-key"></i>
                            </span>
                            <div class="info-box-content">
                                <span class="info-box-text">Total Subscribers</span>
                                <span class="info-box-number">{{ total_subscribers }}</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-4 col-md-4">
                        <div class="info-box shadow mb-3">
                            <span class="info-box-icon bg-primary elevation-1">
                                <i class="fas fa-location-dot"></i>
                            </span>
                            <div class="info-box-content">
                                <span class="info-box-text">Total Locations</span>
                                <span class="info-box-number">{{ total_locations }}</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-4 col-md-4">
                        <div class="info-box shadow mb-3">
                            <span class="info-box-icon bg-primary elevation-1">
                                <i class="fas fa-walkie-talkie"></i>
                            </span>
                            <div class="info-box-content">
                                <span class="info-box-text">Total Equipment</span>
                                <span class="info-box-number">{{ total_equipment }}</span>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-12 col-sm-6 col-md-2">
                        <div class="info-box shadow mb-3">
                            <span class="info-box-icon bg-primary elevation-1">
                                <i class="fas fa-gauge-high"></i>
                            </span>
                            <div class="info-box-content">
                                <span class="info-box-text">All Subscriptions</span>
                                <span class="info-box-number">{{ total_subscriptions }}</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-md-2">
                        <div class="info-box shadow">
                            <span class="info-box-icon bg-primary elevation-1">
                                <i class="fas fa-gauge-high"></i>
                            </span>
                            <div class="info-box-content">
                                <span class="info-box-text">Active</span>
                                <span class="info-box-number">{{ total_subscriptions_active }}</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-md-2">
                        <div class="info-box shadow">
                            <span class="info-box-icon bg-primary elevation-1">
                                <i class="fas fa-gauge-high"></i>
                            </span>
                            <div class="info-box-content">
                                <span class="info-box-text">Canceled</span>
                                <span class="info-box-number">{{ total_subscriptions_canceled }}</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-md-2">
                        <div class="info-box shadow">
                            <span class="info-box-icon bg-primary elevation-1">
                                <i class="fas fa-gauge-high"></i>
                            </span>
                            <div class="info-box-content">
                                <span class="info-box-text">Paused</span>
                                <span class="info-box-number">{{ total_subscriptions_paused }}</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-md-2">
                        <div class="info-box shadow">
                            <span class="info-box-icon bg-primary elevation-1">
                                <i class="fas fa-gauge-high"></i>
                            </span>
                            <div class="info-box-content">
                                <span class="info-box-text">Pending</span>
                                <span class="info-box-number">{{ total_subscriptions_pending }}</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-md-2">
                        <div class="info-box shadow">
                            <span class="info-box-icon bg-primary elevation-1">
                                <i class="fas fa-gauge-high"></i>
                            </span>
                            <div class="info-box-content">
                                <span class="info-box-text">Delinquent</span>
                                <span class="info-box-number">{{ total_subscriptions_delinquent }}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="card card-row card-primary shadow">

                            <div class="card-header">
                                <h3 class="card-title">Active Subscription Breakdown</h3>
                            </div>
                            <!-- /.card-header -->

                            <div class="card-body">
                                {% for package_id, package in service_package_map.items() %}
                                <div class="progress-group mb-4">
                                    {{ package.label }}
                                    <span class="float-right">
                                        <b>{{ package['total'] }}</b>/{{ total_subscriptions_active }}</span>
                                    <div class="progress progress-sm">
                                        <div class="progress-bar bg-success" style="width: {{ package['share'] }}%"></div>
                                    </div>
                                </div>
                                {% endfor %}
                                {% if not service_package_map.items() | length %}
                                    <p>There are currently no service packages configured!</p>
                                {% endif %}
                            </div>
                            <!-- /.card-body -->

                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->

            </div><!-- /.container-fluid -->
        </section>
    </div>
    <!-- /.content-wrapper -->
{% endblock %}